*:not(input) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-callout: none;
}

#form, #result {
    display: none;
}

#form.current, #result.current {
    display: block;
    animation: show 500ms linear 0s;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}